* {
  word-break: keep-all;
  padding: 0;
  margin: 0;
  letter-spacing: -0.03rem;
  line-height: 1.6;
}

html {
  height: 100%;
  position: relative;
}

body {
	width: 600px;
	margin: 50px auto;
}

li {
  list-style: none;
}

.container {
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
}

img {
  width: 100%;
}

article {
  padding-bottom: 50px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

p {
  color: #222;
}

.img-wrap {
  width: 150px;
  margin: 0 auto;
  padding: 50px;
}

