@font-face {
  font-family: 'Cafe24Ssurround';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.title {
  margin-bottom: 10px;
  font-weight: bold;
  font-family: 'Cafe24Ssurround';
  font-size: 32px;
  line-height: 1;
}

.sub-title {
  margin: 30px 0;
  font-weight: bold;
  font-size: 24px;
  font-family: 'Cafe24Ssurround';
}